.auth{
  width: 100%;
  background: $color-bg;
  padding: 100px 0;
}
.fill-width {
  width:60%;
  text-align: center;

  @include mq(){
    width: 90%;
  }
  h4{
    font-size: 24px;
    text-align: center;
  }
}

.v-divider.theme--light{
  margin-top: 30px;
}
.separator {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}
.middle_separator {
  position: absolute;
  padding: 0 16px;
  color: #ccc;
  background: #fff;
  font-size: 11px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  top: -7px;
  left: 30%;
}
.middle_separator {
  color: #777;
  font-size: 13px;
  top: -9px;
  left: 41%;
}
.v-card__title{
  justify-content: center;
}
.v-card > *:last-child:not(.v-btn):not(.v-chip){
  text-align: -webkit-center;
}
.googleButton__container{

  @include mq(md){
    padding: 0 24px;
  }
}
.auth-border{
  width: 80%;

  @include mq(md){
    width: 90%;
  }

  @include mq(){
    width: 100%;
  }
}
