//タイトル
.title {
  margin-bottom: 30px;
  text-align: left;

  &__mainTitle {
    margin: 0 0 10px;
    font-size: $font-size_3l;
    color: $color-main;
    font-family: 'Noto Sans JP', sans-serif;
  }

  &__subTitle{
    font-size: $font-size_m;
    color: $color-light-font;
    font-family: 'Noto Sans JP', sans-serif;
  }
}
.topBanner{

  &__container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include mq{
      width: 100%;
      flex-direction: column;
      padding-top: 50px;
    }
  }

  &__left{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 10%;
    font-family: 'Noto Sans JP', sans-serif;

    @include mq{
      width: 90%;
      margin: 0 auto;
    }

    &__main{
      font-size: $font-size_xxl;
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 500;

      @include mq(){
        font-size: $font-size_xl;
      }
    }

    &__sub{
      margin:15px 0 30px;
      font-weight: 300;
    }

  }

  &__right{
    width: 65%;
    position: relative;

    @include mq{
      width: 100%;
    }

    &__sun{
      max-width: 95px;
      width: 12.5%;
      position: absolute;
      top: 80px;
      left: 5%;
      animation: sun 50s infinite linear;

      @include mq{
        width: 15%;
        top: 10px;
        left: 65%;
        animation: infinite;
      }
    }

    &__Banner{
      width: 100%;
      margin-top: 130px;

      @include mq{
        width: 90%;
        margin-left: 10%;
      }
    }
  }
}
@keyframes sun {
  0% {
    top: 80px;
    left: 5%;
  }
  10% {
    top: 30px;
    left: 15%;
  }
  25% {
    top:5px;
    left: 40%;
  }
  40% {
    top: 30px;
    left: 70%;
  }
  50% {
    top: 80px;
    left: 85%;
  }
  60% {
    top: 30px;
    left: 70%;
  }
  75% {
    top: 5px;
    left: 40%;
  }
  90% {
    top: 30px;
    left: 15%;
  }
  100% {
    top: 80px;
    left: 5%;
  }
}
//メッセージ
.message{
  background: $color-bg;
  padding: 100px 0;

  &__container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;

    @include mq{
      width: 90%;
    }
  }

  &__title{
    font-size: $font-size_xxl;
    margin-bottom: 30px;
    font-family: 'Noto Sans JP', sans-serif;

    @include mq(){
      font-size: $font-size_xl;
    }
  }

  &__sub{
    font-weight: 300;
    line-height: 1.6em;
    font-family: 'Noto Sans JP', sans-serif;
  }
}

//Blog
.topBlog{

  &__container{
    width: 75%;
    max-width: 800px;
    margin: 100px auto;

    @include mq{
      width: 90%;
      margin: 50px auto;
    }
  }

  &__item{
    width: 45%;
    margin-bottom: 5%;


    @include mq{
      width: 100%;
    }
    &:hover .topBlog__item__top img{
      transform: scale(1.1);
    }

    &__top{
      overflow: hidden;
      width: 100%;
      height: 200px;

      img{
        width: 100%;
        height: 100%;
        transition: ease 0.3s;
        object-fit: cover;
      }

    }

    &__bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 10px;

      &__left{
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: $font-size_m;
        font-weight: 500;
      }

      &__right{
        font-size: $font-size_s;
        color: $color_light-font;
      }
    }

    &__title{
      font-size: $font-size_l;
      color: $color_b;
    }
  }

  &__list__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 !important;
  }
}

//カテゴリー色
.meal .topBlog__item__bottom__left{
  background-color: $color-meal;
}

.exercise .topBlog__item__bottom__left{
  background-color: $color-exercise;
}

.sleep .topBlog__item__bottom__left{
  background-color: $color-sleep;
}

.others .topBlog__item__bottom__left{
  background-color: $color-others;
}

.bottomBanner{
  background: #DEF7F3;
  padding-top: 50px;

  @include mq{
    padding-top: 50px;
  }

  &__container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    position: relative;

    @include mq{
      width: 90%;
      flex-direction: column;
      margin: 50px auto 0;
    }
  }

  &__left{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include mq{
      width: 100%;
    }

    &__main{
      font-family: 'Noto Sans JP', sans-serif;
      font-size: $font-size_xxl;

      @include mq(){
        font-size: $font-size_xl;
      }
    }

    &__sub{
      font-weight: 300;
      font-family: 'Noto Sans JP', sans-serif;
      margin:15px 0 30px;
    }
  }

  &__right{
    width: 65%;
    position: relative;

    @include mq{
      width: 100%;
    }

    &__Banner{
      width: 100%;
      margin-top: 50px;
    }
  }
}

.top__bigButton{
  width: 50%;
  max-width: 450px;
  height: 50px;
  color: #fff;
  margin-top: 25px;

  @include mq(){
    margin-top: 25px;
    width: 100%;
  }

  &__container{
    text-align: center;
  }
}

.smallButton{
  width: 100px !important;
  max-width: 450px;
  height: 40px !important;
  color: #fff;

  @include mq(){
    width: 120px !important;
  }
}

