//タイトル
.title {
  margin-bottom: 30px;

  &__mainTitle {
    margin: 0 0 10px;
    text-align: left;
    font-size: $font-size_3l;
    color: $color-main;
  }

  &__subTitle{
    font-size: $font-size_m;
    color: $color-light-font;
  }
}
.topBanner{

  &__container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    position: relative;

    @include mq{
      width: 90%;
      flex-direction: column;
      padding-top: 50px;
    }
  }

  &__left{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include mq{
      width: 100%;
    }

    &__main{
      font-size: $font-size_3l;
    }

    &__sub{
      font-size: $font-size_m;
      margin:15px 0 30px;
    }

  }

  &__right{
    width: 65%;
    position: relative;

    @include mq{
      width: 100%;
    }

    &__cloud{
      width: 25%;
      position: relative;
    }

    &__Banner{
      width: 100%;
      margin-top: 120px;
    }
  }
}
.cloud_1{
  position: absolute;
  top: -10px;
  left: 20px;
  animation: cloud1 20s infinite linear;
}
.cloud_2{
  position: absolute;
  top: 0;
  right: 140px;
  animation: cloud2 20s infinite linear;
}
@keyframes cloud1 {
  0% {
    top: 10px;
    left: 20px;
  }
  25% {
    top: 15px;
    left: 80px;
  }
  50% {
    top: 10px;
    left: 140px;
  }
  75% {
    top: 15px;
    left: 80px;
  }
  100% {
    top: 10px;
    left: 20px;
  }
}
@keyframes cloud2 {
  0% {
    top: 0;
    right: 140px;
  }
  25% {
    top: 5px;
    right: 80px;
  }
  50% {
    top: 0;
    right: 20px;
  }
  75% {
    top: 5px;
    right: 80px;
  }
  100% {
    top: 0;
    right: 140px;
  }
}
//メッセージ
.message{
  background: $color-bg;
  padding: 100px 0;

  &__container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;

    @include mq{
      width: 90%;
    }
  }

  &__title{
    font-size: $font-size_xxl;
    margin-bottom: 30px;
  }

  &__sub{
    font-size: $font-size_m;
    line-height: 1.6em;
  }
}

//Blog
.topBlog{

  &__container{
    width: 75%;
    max-width: 800px;
    margin: 50px auto;

    @include mq{
      width: 90%;
      margin: 100px auto;
    }
  }

  &__item{
    width: 45%;
    margin-bottom: 5%;


    @include mq{
      width: 100%;
    }
    &:hover .topBlog__item__top img{
      transform: scale(1.1);
    }

    &__top{
      overflow: hidden;
      width: 100%;
      height: 200px;

      img{
        width: 100%;
        height: 100%;
        transition: ease 0.3s;
        object-fit: cover;
      }

    }

    &__bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 10px;

      &__left{
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: $font-size_m;
        font-weight: 500;
      }

      &__right{
        font-size: $font-size_s;
        color: $color_light-font;
      }
    }

    &__title{
      font-size: $font-size_l;
      color: $color_b;
    }
  }

  &__list__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 !important;
  }
}

//カテゴリー色
.meal .topBlog__item__bottom__left{
  background-color: $color-meal;
}

.exercise .topBlog__item__bottom__left{
  background-color: $color-exercise;
}

.sleep .topBlog__item__bottom__left{
  background-color: $color-sleep;
}

.others .topBlog__item__bottom__left{
  background-color: $color-others;
}

.bottomBanner{
  background: #DEF7F3;


  &__container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    position: relative;

    @include mq{
      width: 90%;
      flex-direction: column;
      margin: 50px auto 0;
    }
  }

  &__left{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include mq{
      width: 100%;
    }

    &__main{
      font-size: $font-size_3l;
    }

    &__sub{
      font-size: $font-size_m;
      margin:15px 0 30px;
    }

  }

  &__right{
    width: 65%;
    position: relative;

    @include mq{
      width: 100%;
    }

    &__cloud{
      width: 25%;
      position: relative;
    }

    &__Banner{
      width: 100%;
      margin-top: 50px;
    }
  }
}

.top__bigButton{
  width: 50%;
  max-width: 450px;
  height: 50px;
  color: #fff;

  @include mq(){
    margin-top: 25px;
  }

  &__container{
    text-align: center;
  }
}

